[submodule "third_party/azmq"]
	path = third_party/azmq
	url = https://github.com/zeromq/azmq.git
[submodule "third_party/v4l2-tools"]
	path = third_party/v4l2-tools
	url = https://github.com/llmike/v4l2-tools.git
[submodule "third_party/SOIL"]
	path = third_party/SOIL
	url = https://github.com/burtonageo/SOIL.git
