[submodule "third_party/NMEAParser"]
	path = third_party/NMEAParser
	url = https://github.com/BMillikan/NMEAParser
[submodule "third_party/libseek-thermal"]
	path = third_party/libseek-thermal
	url = https://github.com/BMillikan/libseek-thermal
[submodule "third_party/libadsb"]
	path = third_party/libadsb
	url = https://github.com/BMillikan/libadsb
[submodule "third_party/librtlsdr"]
	path = third_party/librtlsdr
	url = https://github.com/librtlsdr/librtlsdr.git
[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/libusb/libusb.git
[submodule "third_party/azmq"]
	path = third_party/azmq
	url = https://github.com/zeromq/azmq.git
[submodule "third_party/v4l2-tools"]
	path = third_party/v4l2-tools
	url = https://github.com/llmike/v4l2-tools.git
[submodule "third_party/third_party/libadsb"]
	path = third_party/third_party/libadsb
	url = https://github.com/BMillikan/libadsb
