[submodule "third_party/NMEAParser"]
	path = third_party/NMEAParser
	url = https://github.com/BMillikan/NMEAParser
[submodule "third_party/libseek-thermal"]
	path = third_party/libseek-thermal
	url = https://github.com/BMillikan/libseek-thermal
[submodule "third_party/azmq"]
	path = third_party/azmq
	url = https://github.com/zeromq/azmq.git
[submodule "third_party/v4l2-tools"]
	path = third_party/v4l2-tools
	url = https://github.com/llmike/v4l2-tools.git
[submodule "third_party/SOIL"]
	path = third_party/SOIL
	url = https://github.com/burtonageo/SOIL.git
[submodule "third_party/3dEarthRenderOpenGL"]
	path = third_party/3dEarthRenderOpenGL
	url = https://github.com/BMillikan/3dEarthRenderOpenGL
